body {
  background-image: url('./imgs/background3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; /* Change this to height: 100vh; if you want to fix it to viewport height */
}
