/* Set the background color for the modal */
.modal-content {
  background-color: rgb(218, 113, 0);
}

/* Move the close button to the top right */
.modal-header .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: #000;
  background: none;
  border: none;
}

.question-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.answer-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}